@charset "UTF-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,400&display=swap");
body,
html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: "Montserrat" !important;
}
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eeff+1,f3e7e9+100 */
  background: #e3eeff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #e3eeff 1%,
    #f5d0d6 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e3eeff 1%,
    #f5d0d6 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e3eeff 1%,
    #f5d0d6 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#f3e7e9',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
aside {
  color: #707070;
  display: grid;
  grid-template-columns: auto 30px;
  padding: 2em;
}
img {
  width: 40px;
  cursor: pointer;
}
figure {
  margin: 0;
  text-align: center;
}
figcaption {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: capitalize;
}
nav {
  background: #c4d8f0;
}
#nav-footer {
  position: absolute;
  display: block;
  width: 100%;
  top: 90%;
}
#nav-footer button {
  width: 100%;
  background: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat" !important;
  color: #707070;
  overflow: hidden;
  font-size: medium;
  cursor: pointer;
  text-transform: uppercase;
  display: none;
}
.active {
  position: absolute;
  display: block;
  background: #fff;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}
ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  padding: 2em 3em;
  background: rgba(255, 255, 255, 0.3);
  color: #707070;
}
ul #calculator {
  background-color: #c4d8f0;
}

main {
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 1.4em;
  color: #707070;
}
.animate {
  color: white;
  background: #89cbd3;
  border: none;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 2.6vh;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 1em;
}

.login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  text-align: center;
  display: none;
}

.login-popup-content {
  height: 100%;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.2fr 0.2fr 0.02fr 0.1fr 0.01fr 0fr;
  row-gap: 5px;
}
.login-popup-content h1 {
  font-size: 50px;
  height: fit-content;
}
#login-pwd, #login-email {
  width: 300px;
  height: 40px;
  font-size: 20px;
  border: none;
  -webkit-appearance: none;
}
#login-email{
    border-bottom: 0.8px solid #707070;
}
#login-pwd{
    margin-bottom: 0px;
    width: 267px;
}

.pwd {
  width: 267px;
  border: none;
}
#login-pwd-wrapper {
  display: inline-block;
  border-bottom: 0.8px solid #707070;
  height: fit-content;
  width: fit-content;
  justify-self: center;
}
span {
  cursor: pointer;
  margin-right: 10px;
}
.form-btn {
    padding: 8px 30px !important;
    font-size: 1.2em !important;
    width: fit-content !important;
    height: fit-content ! important;
}
input,
.form-btn {
  margin: 1em auto 0 auto;
}

#forgot {
  text-decoration: none;
  font-size: 15px;
  color: #707070;
  margin: 0em auto;
  width: 10em;
  padding: 10px;
  height: fit-content;
}
.close {
  height: 30px;
  width: 30px;
  justify-self: end;
}
.loading {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}
.loading ul {
  position: absolute !important;
  display: grid;
  grid-template-columns: repeat(7, max-content);
  grid-template-rows: 100%;
  align-self: center;
  justify-self: center;
}
.loading ul li {
  color: #f5d0d6;
  font-size: 3em;
  letter-spacing: 15px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  0%,
  50% {
    color: #f5d0d6;
    text-shadow: none;
  }
  100% {
    color: #89cbd3;
    text-shadow: 0 0 10px #89cbd3, 0 0 50px#f5d0d6;
  }
}
.loading ul li:nth-child(1) {
  animation-delay: 0.2s;
}
.loading ul li:nth-child(2) {
  animation-delay: 0.4s;
}
.loading ul li:nth-child(3) {
  animation-delay: 0.6s;
}
.loading ul li:nth-child(4) {
  animation-delay: 0.8s;
}
.loading ul li:nth-child(5) {
  animation-delay: 1s;
}
.loading ul li:nth-child(6) {
  animation-delay: 1.2s;
}
.loading ul li:nth-child(7) {
  animation-delay: 1.4s;
}
.close-load {
  height: 30px;
  width: 30px;
  justify-self: end;
}
#input-container {
    display: grid;
    grid-template-columns: max-content max-content auto;
    row-gap: 1em;
    align-content: end;
}
.label {
    width: fit-content;
    font-size: 7vw;
    font-weight: 100;
    padding: 0;
  }
#weight {
    width: 20vw;
    height: 8vw;
    border: none;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 3.5vw;
    margin-left: 55px;
    border-radius: 8px;
}
select {
    text-align: center;
    align-self: center;
    height: 2.5em;
    width: 20vw;
    -webkit-appearance: menulist-button;
    border-radius: 5px;
    margin-top: 4px;
    justify-self: end;
    border: none;
  }
  #gender {
    width: fit-content;
    height: fit-content;
    font-weight: 300;
  }
  .radioButton {
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-left: 0;
    margin-top: 0;
    align-self: center;
  }
  #gender-label {
    align-self: center;
    font-size: 5vw;
  }
  #radio-btn-container {
    display: grid;
    grid-template-columns: auto 0.1fr auto 0.2fr;
    width: fit-content;
    margin-top: 10px;
  }
  #female {
    margin-left: 10px;
  }
  input:checked {
    background-color: #707070;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
  }
  .calculation {
    font-size: 3vh;
    width: fit-content;
    align-self: center;
    justify-self: end;
    display: none;
  }
  #content-wrapper {
    margin-top: 1em;
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1em;
  }
  #filler {
    width: 0;
  }
  #filler2 {
    width: 0;
  }
  #protein-label {
      margin-top: -.5em;
    order: 1;
  }
  #protein-calc {
    margin-top: -.5em;
    order: 2;
  }
  #carb-label {
    order: 3;
  }
  #carb-calc {
    order: 4;
  }
  #fat-label {
    order: 5;
  }
  #fat-calc {
    order: 6;
  }
  #protein-cal-label {
    order: 7;
  }
  #protein-cal-calc {
    order: 8;
  }
  
  #carb-cal-label {
    order: 9;
  }
  #carb-cal-calc {
    order: 10;
  }
  
  #fat-cal-label {
    order: 11;
  }
  #fat-cal-calc {
    order: 12;
  }
  #calories-label {
    order: 13;
  }
  #calories-calc {
    order: 14;
  }
  #btn-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    row-gap: 20px;
  }  
  
  .label {
    width: fit-content;
    font-size: 7vw;
    font-weight: 100;
    padding: 0;
  }


  @media only screen and (min-width: 768px) and (min-height:415px){
  body {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2em;
  }
  img {
    display: none;
  }

  aside {
    color: #707070;
    grid-template-columns: auto;
    grid-template-rows: 13em auto;
    padding: 0;
  }
  main {
    padding: 2.5em 1.4em;
    background: rgba(255, 255, 255, 0.3) url("../images/bg.svg") no-repeat
      bottom right;
    background-size: 70%;
  }
  #avatar {
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 2em auto 1em auto;
  }
  figcaption {
    text-align: center;
    font-size: 1.5vw;
  }
  ul {
    display: block;
    position: relative !important;
    background: none;
    width: 100% !important;
  }
  ul li a{
    font-size: 1vw;
  }
  ul li a:hover {
    background-color: white;
  }
  #nav-footer {
  position: absolute;
  top: 35vw;
  }
  #nav-footer button{
    font-size: 1.2vw;
  }

  figure {
    background: #c4d8f0;
  }
  
  ul #calculator {
    background-color: rgba(255, 255, 255, 0.5);
  }
  body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eeff+0,f3e7e9+100 */
    background: #e3eeff; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #e3eeff 0%,
      #f3e7e9 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #e3eeff 0%,
      #f3e7e9 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #e3eeff 0%,
      #f3e7e9 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#f3e7e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .login-popup-content {
    height: 300px;
    width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
  }

  .close {
    display: grid;
  }
  .form-btn {
    margin-top: 1em !important;
  }
  .login-popup-content h1 {
    margin-top: -.5em;
    margin-bottom: 10px;
  }
  #login-email, #login-pwd{
      margin: 0 auto !important;
  }
  .login {
    background: rgba(0, 0, 0, 0.6);
    display: none;
  }
  
  .loading ul {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .close-load {
    display: grid;
    width: 50px;
    height: 50px;
  }
  
  .animate {
    border: 2px solid #e3eeff;
    font-size: 3vh;
    width: 30vh;
    color: white;
    background: #89cbd3;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out;
    will-change: transform;
    z-index: 0;
    outline: none;
    margin-top: 0;
  }
  .animate::after {
    background-color: #e3eeff;
    border-radius: 3rem;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-100%, 0) rotate(10deg);
    transform: translate(-100%, 0) rotate(10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: 0.2s -webkit-transform ease-out;
    transition: 0.2s -webkit-transform ease-out;
    transition: 0.2s transform ease-out;
    transition: 0.2s transform ease-out, 0.2s -webkit-transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .animate:hover::after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .animate:hover {
    border: 2px solid transparent;
    color: #707070;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    will-change: transform;
  }
  #nav-footer button:hover {
    color: white;
  }
  .label {
    font-size: 2.5vw;
    width: fit-content;
  }
  #weight {
    height: 3vw;
    width: 6vw;
    font-size: 1.5vw;
    margin: 0;
    margin-left: 65px;

  }
  select {
    justify-self: end;
    width: 6vw;
    margin-left: 0;
  }
  #gender-label {
    font-size: 2vw;
  }
  #radio-btn-container {
    margin-top: 2em;
  }
  .calculation {
    font-size: 2.5vw;
    justify-self: center;
    display: none;
  }
  #content-wrapper {
    margin-top: 2em;
    grid-template-columns: 0.55fr 0.7fr;
    row-gap: 2vw;
  }

  #protein-label {
      margin-top: 0;
    order: 1;
  }
  #protein-calc {
    margin-top: 0;
    order: 1;
  }
  #protein-cal-label {
    order: 2;
  }
  #protein-cal-calc {
    order: 2;
  }
  #carb-label {
    order: 3;
  }
  #carb-calc {
    order: 3;
  }
  #carb-cal-label {
    order: 4;
  }
  #carb-cal-calc {
    order: 4;
  }
  #fat-label {
    order: 5;
  }
  #fat-calc {
    order: 5;
  }
  #fat-cal-label {
    order: 6;
  }
  #fat-cal-calc {
    order: 6;
  }
  #filler {
    order: 7;
  }
  #filler2 {
    order: 7;
  }
  #calories-label {
    order: 8;
  }
  #calories-calc {
    order: 8;
  }
  .loading ul {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .close-load {
    display: grid;
    width: 50px;
    height: 50px;
  }
  #btn-wrapper {
    grid-template-columns: auto auto;
    margin-top: 2em;
    margin-right: 15em;
    column-gap: 20px;
  }
  .radioButton{
      margin: 0;;
  }
  
}
