@charset "UTF-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,400&display=swap");
body,
html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: "Montserrat";
}
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eeff+1,f3e7e9+100 */
  background: #e3eeff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #e3eeff 1%,
    #f3e7e9 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e3eeff 1%,
    #f3e7e9 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e3eeff 1%,
    #f3e7e9 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#f3e7e9',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
aside {
  color: #707070;
  display: grid;
  grid-template-columns: auto 20px;
  padding: 2em;
}
img {
  width: 40px;
  cursor: pointer;
}
figure {
  margin: 0;
  text-align: center;
}
figcaption {
  font-size: 1.3em;
  font-weight: bold;
}
nav {
  background: #c4d8f0;
}
.active {
  position: absolute;
  display: block;
  background: #fff;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}
ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  padding: 2em 3em;
  background: rgba(255, 255, 255, 0.3);
  color: #707070;
}
ul #Home {
  background-color: #c4d8f0;
}
main {
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 1.4em;
  color: #707070;
}
h1 {
  margin: 0;
  text-align: center;
}
p {
  font-size: 1.5em;
  line-height: 1.5em;
}
.cta {
  color: white;
  background: #89cbd3;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 2.6vh;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  width: 150px;
}
#btn-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
  justify-content: center;
}
.login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  text-align: center;
  display: none;
}

.login-popup-content {
  height: 100%;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.2fr 0.2fr 0.02fr 0.1fr 0.01fr 0fr;
  row-gap: 5px;
}
.login-popup-content h1 {
  font-size: 50px;
  height: fit-content;
}
input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  border: .5px solid #707070;
  -webkit-appearance: none;
}
.pwd{
	width: 267px;
	border: none;
}
#login-pwd-wrapper {
	display: inline-block;
	border: .5px solid #707070;
	border-radius: 5px;
	height: fit-content;
	width: fit-content;
	justify-self: center;
}
span {
  cursor: pointer;
  margin-right: 10px;
}

.form-btn {
  color: white;
  background: #89cbd3;
  text-decoration: none;
  padding: 8px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 50px;
  width: 5em;
  height: fit-content;
}
input,
.form-btn {
  margin: 0 auto;
}
#forgot {
  text-decoration: none;
  font-size: 15px;
  color: #707070;
  margin: 0em auto;
  width: 10em;
  padding: 10px;
  height: fit-content;
}
.close {
  height: 30px;
  width: 30px;
  justify-self: end;
}
.signup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  text-align: center;
 /* display: none;*/
}
.signup-popup-content {
  height: 100%;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.1fr 0.25fr 0.02fr 0.1fr 0.02fr 0.02fr 0.02fr 0.02fr 0.01fr 0.01fr;
  justify-content: center;
}
.signup-popup-content h1 {
  font-size: 50px;
  height: fit-content;
}
#signup-pwd-wrapper {
	display: inline-block;
	border: .5px solid #707070;
	border-radius: 5px;
	height: fit-content;
	width: fit-content;
	justify-self: center;
}

.pass-counter {
  font-size: 15px;
  height: fit-content;
  margin: 0 4em 0 0;
  justify-self: end;
}
#gender {
  width: fit-content;
  height: fit-content;
  justify-self: center;
  margin: 0 9em 0 0;
  font-weight: 300;
}
.radioButton {
  width: 15px;
  height: 15px;
  margin: 0;
  align-self: center;
  justify-self: center;
}
#gender-label {
  align-self: center;
}
#radio-btn-container {
  display: grid;
  grid-template-columns: auto 0.1fr auto 0.2fr;
  justify-content: center;
  align-content: center;
  width: fit-content;
  margin-left: 6em;
}
#female {
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2em;
  }
  img {
    display: none;
  }
  aside {
    color: #707070;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
  }
  main {
    padding: 4em;
    background: rgba(255, 255, 255, 0.3) url("../images/bg.svg") no-repeat
      bottom right;
    background-size: 70%;
  }
  #avatar {
    border-radius: 50%;
    /*background-color: white;*/
    width: 50px;
    height: 50px;
    margin: 2em auto 1em auto;
  }
  figcaption {
    text-align: center;
  }
  ul {
    display: block;
    margin-top: 2em;
    position: relative !important;
    background: none !important;
    width: 100% !important;
  }
  ul li a:hover {
    background-color: white;
  }
  figure {
    background: #c4d8f0;
  }
  h1 {
    font-size: 3em;
    margin-top: 1em;
  }
  p {
    font-size: 1.5em;
  }
  ul #Home {
    background-color: rgba(255, 255, 255, 0.5);
  }
  body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eeff+0,f3e7e9+100 */
    background: #e3eeff; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #e3eeff 0%,
      #f3e7e9 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #e3eeff 0%,
      #f3e7e9 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #e3eeff 0%,
      #f3e7e9 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#f3e7e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #btn-container {
    margin-top: 10em;
    grid-template-columns: auto auto;
    column-gap: 40px;
  }
  .login-popup-content {
    height: 300px;
    width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
  }
  .close {
    width: 30px;
    height: 30px;
    display: grid;
    justify-items: end;
  }
  .form-btn {
    margin-top: 1em;
  }
  .login-popup-content h1 {
    margin: 0;
    margin-bottom: 10px;
  }
  .login {
    background: rgba(0, 0, 0, 0.6);
    display: none;
  }
  .signup-popup-content {
    height: 450px;
    width: 400px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
  }
  .signup-popup-content h1 {
    margin: 0;
    margin-bottom: 10px;
  }
  .signup {
    background: rgba(0, 0, 0, 0.6);
  }
  #gender {
    width: 100px;
  }
}
